<footer>
  <div class="wrapper">
    <ul>
      <li><span style="color:#ccc;">© Copyright CRRC 2019</span></li>
      <li><a href="http://apps.charitycommission.gov.uk/Showcharity/RegisterOfCharities/CharityFramework.aspx?RegisteredCharityNumber=1172836&SubsidiaryNumber=0">Registered charity 1172836</a></li>
      <li><a href="privacy.html">Privacy Policy</a></li>
      <li><a href="cookies.html">Cookies</a></li>
    </ul>
    <a href="#" class="newsletter">Sign up to our newsletter</a>
  </div>
</footer>
