<footer>
  <div class="wrapper">
    <ul>
      <li><span style="color:#ccc;">© Copyright CRRC 2019</span></li>
      <li><a href="http://apps.charitycommission.gov.uk/Showcharity/RegisterOfCharities/CharityFramework.aspx?RegisteredCharityNumber=1172836&SubsidiaryNumber=0">Registered charity 1172836</a></li>
      <li><a href="/privacy.html">Privacy Policy</a></li>
      <li>
        <span class="icons">
          <!-- ><a href="#"><i class="fab fa-linkedin-in"></i></a> -->
          <a href="http://www.facebook.com/cambridgerefugees"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/camrefugees"><i class="fab fa-twitter"></i></a>
        </span>
      </li>
    </ul>
    <a href="/mailing-list-signup.html" class="newsletter">Sign up to our newsletter</a>
  </div>
</footer>

<script async defer src="https://cdn.simpleanalytics.io/hello.js"></script>
<noscript><img src="https://api.simpleanalytics.io/hello.gif" alt=""></noscript>
