<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" href="what-we-do.html">What We Do</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      How To Help
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Campaigns</a>
      <a class="dropdown-item" href="#">Volunteer</a>
      <a class="dropdown-item" href="#">Spread the message</a>
      <a class="dropdown-item" href="#">Donate</a>
      <a class="dropdown-item" href="#">Fostering</a>
      <a class="dropdown-item" href="#">Landlords</a>
      <a class="dropdown-item" href="#">Supporters' page</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="get-help.html">Get Help</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="news-events.html">News & Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-us" href="contact.html">Contact Us</a>
  </li>
  <li class="nav-item">
    <a href="#"><button class="btn donate">Donate</button></a>
  </li>
</ul>
