@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

.hero-contact {
  max-height: 345px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.contact-content {
  padding: 0;
  margin-top: 30px;

  p {
    text-align: start;
  }
  .col-md-12 {
    padding: 20px;
    margin: 0;
    max-width: 100%;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .contact-row {
    display: block;
    width: 100%;
    position: relative;

    label {
      display: none;
    }

    input,
    select,
    textarea {
      padding: 17px 15px;
      margin: 10px 0;
      background: $form-background-color;
      border: none;
      color: #333;
      resize: none;
      max-width: 100%;

      &:focus {
        outline: none;
        border: none;
      }
    }

    select {
      appearance: none;
      width: 100%;

      option {
        &:first-child {
          display: none;
        }
      }
    }

    span {
      position: absolute;
      top: 27px;
      left: 15px;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    input {
      height: 58px;
    }

    textarea {
      height: 130px;
    }

    input,
    textarea {
      width: 100%;
      position: relative;
      // transition: all 0.3s ease-in-out;

      &::placeholder {
        transition: all 0.15s ease-in-out;
      }

      &:focus,
      &.populated {
        padding-top: 28px;
        padding-bottom: 12px;

        &::placeholder {
          color: transparent;
        }

        & + span {
          opacity: 1;
          top: 12px;
          font-size: 14px;
        }
      }
    }
  }

  .enquiry {
    position: relative;
    width: 100%;

    &:after {
      font-family: "Font Awesome 5 Free";
      background: #f1652a;
      color: #fff;
      right: 0;
      top: 10px;
      bottom: 10px;
      padding: 10px 20px;
      position: absolute;
      pointer-events: none;
      content: "\f107";
      font-weight: 900;
      font-size: 24px;
    }
  }

  button {
    background: $main-background-color;
    align-self: flex-end;
  }
}

.social-section {
  background-color: $social-section-background-color;
  padding: 80px 30px;
  width: 100%;
  margin-top: 30px;

  div {
    text-align: center;
    padding: 0 30px;

    &:nth-child(2) {
      margin: 40px 0;
    }

    i {
      font-size: 50px;
      margin-bottom: 30px;
    }

    p {
      word-break: break-word;
      font-size: 15px;
      margin: 2px 0;
    }
  }
}

.contact-subtitle {
  margin: 10px 0 20px;
}

@media all and (min-width: 480px) {
  .contact-form {
    width: 75%;
  }
}

@media all and (min-width: 768px) {
  .social-section {
    div {
      &:nth-child(2) {
        margin: 0;
      }
    }
  }
}
