<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="wrapper">
      <div class="hero">
        <img src="images/hero.jpg" alt="A march supporting refugees and asylum seekers in Cambridge" />
      </div>
      <div class="news-events">
        {{ content }}
     </div>

      {% for post in site.categories.campaigns %}
      <article class="news">
        <div class="col-sm-2"></div>
        <div class="content col-sm-6">
          <h2>{{ post.title }}</h2>
          <p>{{ post.content | markdownify | strip_html | truncatewords: 50 }}</p>
          <a class="btn-wrapper" href="{{ post.url }}"><button class="btn more-info">Read more</button></a>
        </div>
        <div class="side-news event-date col-sm-2">
          <h4>CAMPAIGN</h4>
          <hr style="border-color:white;width:100%;">
          <h4>{{ post.date  | date: "%B %d, %Y" }}</h4>
        </div>
        <div class="side col-sm-2"></div>
      </article>
      {% endfor %}

    </div>

    {% include footer.html %}
  </body>
</html>
