<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="wrapper content">
      <div class="hero-contact">
  {% if page.hero-image %}
        <img src="images/{{ page.hero-image }}"{% if page.hero-alt %} alt="{{ page.hero-alt }}"{% endif %} />
  {% endif %}
      </div>
      <div class="contact-content">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <h2>{{ page.title }}</h2>

                {{ content }}

              </div>
              <div class="col-md-6">
                  <form action="https://formspree.io/info@cambridgerefugees.org" method="POST" class="contact-form">
                      <div class="contact-row">
                          <label for="Name">Your name</label>
                          <input type="text" name="Name" placeholder="Your name" required autofocus="true" tabindex="1">
                          <span>Your name</span>
                      </div>
                      <div class="contact-row">
                          <label for="Email">Your email</label>
                          <input type="email" name="Email" placeholder="Your email" required tabindex="2">
                          <span>Your email</span>
                      </div>
                      <div class="contact-row">
                          <div class="subject">
                              <label for="Subject">Subject</label>
                              <select name="Subject" required>
                                <option value="general" selected>General enquiry</option>
                                <option value="volunteer">Volunteering</option>
                                <option value="donation">Donation</option>
                              </select>
                          </div>
                      </div>
                      <div class="contact-row">
                          <label for="Message">Write your message</label>
                          <textarea name="Message" rows="4" cols="50" placeholder="What do you want to talk to us about?" required tabindex="3"></textarea>
                          <span>What do you want to talk to us about?</span>
                      </div>
                      <button type="submit" class="btn" tabindex="4">Send</button>
                  </form>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="col-md-12 social-section">
      <div class="wrapper row">
        <div class="col-md-6">
          <a href="https://twitter.com/camrefugees"><i class="fab fa-twitter"></i></a>
          <p>Follow us on Twitter <a href="https://twitter.com/camrefugees">@CamRefugees</a></p>
        </div>

        <div class="col-md-6">
          <a href="http://www.facebook.com/cambridgerefugees"><i class="fab fa-facebook-f"></i></a>
          <p>Join <a href="http://facebook.com/groups/cambridgerefugees">our Facebook group</a></p>
          <p>or follow <a href="http://www.facebook.com/cambridgerefugees">our Facebook page</a>.</p>
          <p>Cambridge University students, staff and alumni<br>can also join <a href="http://facebook.com/groups/cambridgeuniversityrefugees"> our Cambridge University group.</a></p>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
