<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <section class="carousel-wrapper">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="carousel-image">
              <img class="d-block w-100 image-float" src="images/carousel0.png" alt="Refugees welcome here"/>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-image">
              <img class="d-block w-100 image-float" src="images/carousel1.jpg" alt="Woman offering to help teach local refugees"/>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-image">
              <img class="d-block w-100 image-float" src="images/carousel2.jpg" alt="Group of women supporting refugees in Cambridge"/>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-image">
              <img class="d-block w-100 image-float" src="images/carousel3.jpg" alt="Man offering practical help with bikes to refugees in Cambridge"/>
            </div>
          </div>
            <div class="carousel-caption d-md-block">
              <div class="caption-wrapper">

{{ content }}

              </div>
            </div>
        </div>
      </div>
    </section>
    <section class="signup-wrapper">
        <div class="signup wrapper">
            <p>
              Our quarterly email newsletters will show you how we’ve been helping
              refugees in Cambridge, and give you ways in which you can help.
            </p>
            <a href="/mailing-list-signup.html"><button class="btn signup-button">Sign Up</button></a>
        </div>
    </section>
    <section class="supports-wrapper">
        <div class="supports wrapper">
            <h2>Who supports us?</h2>
            <div class="row">
                <div class="col">
                    <div class="picture">
                        <a href="#"><img src="images/Daniel-Zeichner.jpg" alt=""/></a>
                    </div>
                    <a href="#"><p>Daniel Zeichner</p>
                    <p>Current MP for Cambridge</p></a>
                </div>
                <div class="col">
                    <div class="picture">
                        <a href="#"><img src="images/Julian-Huppert.jpg" alt=""/></a>
                    </div>
                    <a href="#"><p>Julian Huppert</p>
                    <p>(former MP for Cambridge)</p></a>
                </div>
                <div class="col">
                    <div class="picture">
                        <a href="#"><img src="images/Aidan-Van-de-Weyer.jpg" alt=""/></a>
                    </div>
                    <a href="#"><p>Aidan van de Weyer</p>
                    <p>(South Cambridgeshire District Councillor)</p></a>
                </div>
                <div class="col">
                    <div class="picture">
                        <a href="#"><img src="images/Stephen-Conway.jpg" alt=""/></a>
                    </div>
                    <a href="#"><p>Rt Revd Stephen Conway</p>
                    <p>(Bishop of Ely)</p></a>
                </div>
                <div class="col">
                    <div class="picture">
                        <a href="#"><img src="images/David-Thomson.jpg" alt=""/></a>
                    </div>
                    <a href="#"><p>Rt Revd David Thomson</p>
                    <p>(ex-Bishop of Huntingdon)</p></a>
                </div>
        </div>
    </section>
    <section class="supports-background">
      <div class="section-wrapper">
        <div class="more">
          <p><b>200 volunteers!</b> Would you like to help?</p>
          <a href="/volunteer.html">Find out more</a>
        </div>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
