<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="wrapper">
      <div class="hero">
        <img src="images/hero.jpg" alt="A march supporting refugees and asylum seekers in Cambridge" />
      </div>
      <div class="news-events">
        {{ content }}
      </div>
      <div class="hero">
        <a class="twitter-timeline" data-height="345" data-dnt="true" href="https://twitter.com/CamRefugees?ref_src=twsrc%5Etfw">Tweets by CamRefugees</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      {% for post in site.categories.newslist %}
      <article class="{{ post.type }}">
        <div class="col-sm-2"></div>
        <div class="content col-sm-6">
          <h2>{{ post.title }}</h2>
          <p>{{ post.content | markdownify | strip_html | truncatewords: 50 }}</p>
          <a class="btn-wrapper" href="{{ post.url }}"><button class="btn more-info">Read more</button></a>
        </div>
        <div class="{% if post.type contains 'event' %}side{% else %}side-news{% endif %} event-date col-sm-2">
          {% if post.type == "event" %}
          <h4>EVENT</h4>
          {% else %}
          <h4>NEWS</h4>
          {% endif %}
          <hr style="border-color:white;width:100%;">
          <h4>
            {{ post.date | date: "%B %d, %Y" }}
            {% if post.type == "event" %}
              <br />(On: {{ post.event_date  | date: "%b %d" }})
            {% endif %}
          </h4>
        </div>
        <div class="side col-sm-2"></div>
      </article>
      {% endfor %}

    </div>

    {% include footer.html %}
  </body>
</html>
