<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="wrapper">
      <div class="hero">
        <img src="images/hero.jpg" alt="A march supporting refugees and asylum seekers in Cambridge" />
      </div>
      <div class="news-events">
        {{ content }}
      </div>

      <article class="news">
        <div class="col-sm-2"></div>
        <div class="content col-sm-8">
          <a class="twitter-timeline" data-height="350" data-theme="light" href="https://twitter.com/CamRefugees?ref_src=twsrc%5Etfw">Tweets by CamRefugees</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="side col-sm-2"></div>
      </article>

      {% for post in site.categories.newslist %}
      <article class="{{ post.type }}">
        <div class="col-sm-2"></div>
        <div class="content col-sm-6">
          <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
          <p>{{ post.content | markdownify | strip_html | truncatewords: 50 }}</p>
          <a class="btn-wrapper" href="{{ post.url }}"><button class="btn more-info">Read more</button></a>
        </div>
        <div class="{% if post.type contains 'event' %}side{% else %}side-news{% endif %} event-date col-sm-2">
          {% if post.type == "event" %}
          <h4>EVENT</h4>
          {% else %}
          <h4>NEWS</h4>
          {% endif %}
          <hr style="border-color:white;width:100%;">
          <h4>
            {{ post.date | date: "%B %d, %Y" }}
            {% if post.type == "event" %}
              {% if post.event_end_date %}
                <br />&nbsp;&nbsp;&nbsp;&nbsp;From: {{ post.event_date  | date: "%b %d" }}
                <br />&nbsp;&nbsp;&nbsp;&nbsp;To: {{ post.event_end_date  | date: "%b %d" }}
              {% else %}
                <br />&nbsp;&nbsp;&nbsp;&nbsp;On: {{ post.event_date  | date: "%b %d" }}
              {% endif %}
            {% endif %}
          </h4>
        </div>
        <div class="side col-sm-2"></div>
      </article>
      {% endfor %}

    </div>

    {% include footer.html %}

    <script type="text/javascript">
     $(window).on('load', function () {
       $('iframe[id^=twitter-widget-]').each(function () {
         var head = $(this).contents().find('head');
         if (head.length) {
           head.append('<style>.timeline-widget { zoom: 60%; height: 600px; margin-left: auto; margin-right: auto; } .timeline-Viewport { height: 580px !important; } .timeline-Header-title { font-weight: bold; }</style>');
         }
       })
     });
    </script>
  </body>
</html>
