<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="wrapper content narrow-column">
      <div class="hero-event">
  {% if page.hero-image %}
        <img src="/images/{{ page.hero-image }}"{% if page.hero-alt %} alt="{{ page.hero-alt }}"{% endif %} />
  {% endif %}
  {% if page.hero-title %}
        <h3>{{ page.hero-title }}</h3>
  {% endif %}
      </div>
      <div class="header">
        <h2>{{ page.title }}</h2>
        {% if page.type == "event" %}
          {% if page.event_end_date %}
            <h3>Event dates: {{ page.event_date | date: "%B %d, %Y" }} &ndash; {{ page.event_end_date | date: "%B %d, %Y" }}</h3>
          {% else %}
            <h3>Event on: {{ page.event_date | date: "%B %d, %Y" }}</h3>
          {% endif %}
        {% elsif page.date %}
          <h3>Posted: {{ page.date | date: "%B %d, %Y" }}</h3>
        {% endif %}
      </div>
      <div class="event-content">
          <div class="col-md-12">

            {{ content }}

            {% if page.category == "jobs" %}
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSeqf19iDWHNGaOkHJMBKhw9sWFhHnNAuWDZrzB9GQdpEA36XA/viewform"><button class="btn more-info">Apply now</button></a>
            {% endif %}
          </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
