//Colors

$main-background-color: #f1652a;
$hover-background-color: #f27540;
$section-background-color: #f1f1f1;
$footer-background-color: #2d2d2d;
$form-background-color: #f2f0f3;
$social-section-background-color: #eeeeee;

$hover-links-color: #191919;

$donate-button-color: #101820;

$footer-font-color: #cccccc;
